<style>
  
        body {
  
            font-family: Arial;
  
            margin: 0;
  
            background-image: url("image/image2.jpg");
  
            background-size: cover;
  
            background-repeat: no-repeat;
  
            background-position: center;
  
        }
  

  
        header {
  
            background: #4e54c8;
  
            color: white;
  
            text-align: center;
  
            padding: 15px;
  
        }
  

  
        nav a {
  
            color: white;
  
            margin: 10px;
  
            text-decoration: none;
  
        }
  

  
        section {
  
            padding: 20px;
  
            text-align: center;
  
        }
  

  
        /* Gallery */
  
        #gallery div {
  
            display: inline-block;
  
            margin: 10px;
  
        }
  

  
        img {
  
            width: 200px;
  
            border-radius: 10px;
  
        }
  

  
        /* Buttons */
  
        button {
  
            padding: 8px 12px;
  
            margin: 5px;
  
            background: #4e54c8;
  
            color: white;
  
            border: none;
  
            border-radius: 5px;
  
        }
  

  
        /* Form */
  
        input, textarea {
  
            width: 80%;
  
            padding: 8px;
  
            margin: 5px;
  
        }
  

  
        footer {
  
            background: #333;
  
            color: white;
  
            text-align: center;
  
            padding: 10px;
  
        }
  
    </style>


